[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
behave = "*"
pytest = "*"
ipdb = "*"
celery = "*"
python-dotenv = "*"
redis = "*"
flake8 = "*"
coverage = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
